@import '__variables.scss';

.card-course-item {
    margin: 16px 8px 0px;
}

a:focus,
a:hover,
a:visited {
    outline: none;
    text-decoration: none;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}
