<div class="p-4">
    <form method="get" action="/news">
        <div class="form-group">
            <label for="searchInput">Search Value</label>
            <input type="text" name="q" class="form-control" id="searchInput" placeholder="Enter keyword">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>